*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f7f6;
    font-family: Arial, sans-serif;
}

.layout-wrapper{
    display:flex;
    min-height:100vh;
}

.main-content{
    flex:1;
    padding:30px;
    overflow-x:hidden;
}